* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

header {
    background: url(https://www.takproject.net/assets/images/kelethinimage31-2000x1250.jpg) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $darkGray;
    font-family: "Raleway";
    font-weight: bold;
    transition: all 0.1s ease-in;

    &:hover {
        text-decoration: underline;
    }
}

.left-col {

    margin-bottom: 10px;
    clear: both;

    @include mq('tablet') {
        float: left;
        clear: none;
        width: calc(100% - 450px);
    }
}

.right-col {

    padding: 20px;
    background: rgba(220, 220, 220, 0.5);
    box-shadow: 0px 2px 5px #666;
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;

    @include mq('tablet') {
        float: right;
        clear: none;
        width: 450px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .list-wrapper {
        max-width: 100%;
        width: 100%;
        float: none;
    }
}

footer {
    clear: both;
}

#main {
    min-height: 60vh;
    padding: 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
        margin-top: 0;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .column {
            flex: 1 1 100%;
            text-align: center;

            @include mq('tablet') {
                flex: 1 1 50%;
            }

            @include mq('desktop') {
                flex: 1 1 33.3%;
            }

            a.zone {
                background: #333;
                color: #fff;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    &:nth-child(even) {
                        background: #eee;
                    }
                }

                a {
                    display: block;
                    padding: 10px;

                    @include mq('desktop') {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;

    &.intro {

        overflow: hidden;
        min-height: 115px;

        img {
            width: 350px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}

.logo {
    width: auto;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.page_title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}


footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: "Raleway";
    font-weight: bold;
    background: url(https://www.takproject.net/assets/images/kelethinimage31-2000x1250.jpg) bottom left no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
}
