.refine-search {
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 60);
    transform: translateX(-20px) translateY(-20px) rotate(90deg);
    transition: all 0.4s ease-in;

    &.visible {
        transform: translateX(280px) translateY(-20px)  rotate(90deg);

        @include mq('desktop') {
            transform: translateX(530px) translateY(-20px)  rotate(90deg);
        }

        .hamburger {
            background: #d2d2d2;
        }
    }

    .hamburger {
        display: block;
        color: #fff;
        cursor: pointer;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }
}

form.item-refine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input {
        flex: 1 1 100%;
        margin-bottom: .5rem;
    }

    > input {
        height: 4rem;
        padding-left: 1rem;
    }

    select {
        height: 2.2rem;
        border: 1px solid gray;
        border-radius: 0;
        cursor: pointer;
    }

    div {
        flex: 1 1 100%;
        margin-bottom: 1rem;

        @include mq('tablet-wide') {
            flex: 0 1 33%;
        }

        &.form-stat-wrapper {
            flex: 1 1 100%;
            display: flex;
            margin-bottom: 2rem;
            justify-content: space-between;

            @include mq('tablet-wide') {
                flex: 0 1 20%;
            }

            > * {
                flex: 1 1 100%;
                margin: 0;

                @include mq('tablet-wide') {
                    flex: 0 1 32%;
                }
            }
        }

        &.checkbox {
            display: flex;
            justify-content: space-between;
            border: 1px solid gray;
            height: 2.2rem;
            padding-left: .5rem;
            overflow: hidden;

            label {
                display: block;
                cursor: pointer;

                &.text {
                    width: 100%;
                    line-height: 2.2rem;
                }
            }
        }

        .checkbox {
            cursor: pointer;

            span {
                width: 2.2rem;
                height: 2.2rem;
                display: block;
                background: green;
                cursor: pointer;

                &::after {
                    content: '\2713';
                    display: block;
                    text-align: center;
                    color: white;
                    line-height: 2.2rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            input {
                display: none;

                &:checked + span {
                    background: red;

                    &::after {
                        content: '\2718';
                    }
                }
            }
        }
    }
}

.search-wrapper {
    position: absolute;
    left: 0;
    top: -1em;
    padding: 10px;
    overflow: hidden;
    color: #fff;
    background: rgba(10, 10, 10, 1);
    transition: all 0.4s ease-in;
    box-shadow: 0px 0px 10px #000;
    transform: translateX(-300px);
    width: 300px;

    @include mq('desktop') {
        transform: translateX(-550px);
        width: 550px;
    }

    &.visible {
        transform: translateX(0);
    }

    strong {
        clear: left;
        float: left;
        margin-bottom: 1em;
        width: 150px;
        text-align: right;
        padding-right: 10px;
    }

    input,
    select,
    textarea {
        color: white;
        background: rgba(0, 30, 50, 1);
        border: 1px solid rgba(250, 250, 250, 0.1);
        padding: 10px;
        margin: 0 0 5px;
        width: 100%;
        clear: both;
        border: 0;
    }

    select {
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        width: 268px;
        border-radius: 0px;
        outline: 1px inset black;
        outline-offset:-1px;
        appearance: none;
        position: relative;

        &::-ms-expand { display: none; }
    }

    input[type=submit] {
        clear: left;
    }

    input[type=submit],
    input[type=reset] {
        width: 49%;
        max-width: 100%;
        padding: 10px;
        background: #fff;
        color: rgb(0, 0, 60);
        border-right: 1px solid rgb(0, 0, 60);
    }

    input[type=checkbox] {
        display: none;

        + label::before {
            content: 'Include No Drop';
        }

        &:checked {

            + label {
                background: green;

                &::before {
                    content: 'Only Tradeable';
                }
            }
        }

        + label {
            height: 25px;
            display: block;
            line-height: 25px;
            padding: 0 10px;
            background-repeat: no-repeat;
            background-position:  0 0;
            font-size: 16px;
            vertical-align: top;
            cursor: pointer;
            background: red;
            clear: both;
        }
    }

    .form-stat-wrapper {
        margin-bottom: 5px;
        padding: 0 10px;

        .select-wrapper,
        input {
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            width: 40%;
            margin-right: 5px;

            + .select-wrapper {
                width: 75px;
                margin-right: 0;
            }
        }

        select {
            width: 100%;
        }

        input {
            padding: 5px 10px;
            &:last-child {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .select-wrapper {
        display: block;
        position: relative;
        margin: 10px 0;

        select {
            width: 100%;
        }

        &::after {
            content: '\25BC';
            display: block;
            height: 15px;
            width: 15px;
            color: white;
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 10px
        }

        &.half {
            float: left;
            overflow: hidden;

            &:last-of-type {
                clear: right;
            }
        }

        &.onethird {
            overflow: hidden;

            float: left;

            &:last-of-type {
                clear: right;
            }
        }
    }

    .full {
        width: 100%;
        max-width: 100%;
    }

    .half {
        width: 50%;
        max-width: 50%;
    }

    .onethird {
        width: 33%;
        max-width: 33%;
        padding-left: 3%;
    }

    ::placeholder {
        color: rgba(250, 250, 250, 0.3);
    }
}

.search-item-list {
    table {
        tbody {
            tr {
                td,
                th {
                    &:last-child,
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(8) {
                        display: none;

                        @include mq('tablet-wide') {
                            display: table-cell;
                        }
                    }
                }
            }
        }
    }
}
