.hidden {
    display: none;
}

.item-column {
    
    @include mq('tablet-wide') {
        float: left;
        padding-right: 10px;
        width: 50%;   
    }
}

.drop-information {
    
    @include mq('tablet-wide') {
        float: right;
        padding-left: 10px;
        width: 50%;   
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
            padding-left: 20px;
            
            &.zone {
                background: linear-gradient(to bottom, #16222A, #3A6073);
                padding: 5px;
                
                a {
                    color: white;
                }
            }
        }
    }
}

.item-wrapper {
    background: blue;
    display: block;
    max-width: 500px;
    color: white;
    padding: 2px;
    margin: 0 auto 30px;
    position: relative;
    background: #3A6073;
    
    > strong {
        display: block;
        background: linear-gradient(to bottom, #16222A, #3A6073);
        padding: 5px 10px;
    }
    
    > img {
        position: absolute;
        right: 20px;
        top: 70px;
    }
    
    .item-stats {
        background: #111;
        color: white;
        max-width: 500px;
        padding: 5px 60px 5px 10px;
        
        p {
            margin: 0;
        }
        
        a {
            display: inline;
            padding: 0;
            margin: 0;
            color: white;
            text-decoration: none;
        }
    }
}