article.news {
    max-width: 90%;
    margin: 0 auto 2em;
    padding: 2em;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid $beige;

    h2 {
        margin-bottom: 0;
    }
}