
.npc-wrapper {
	grid-area: pageContent;
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;

	.npc-info {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(630px, 1fr));
	}

	a.external {
		display: inline;
		font-size: 50%;
		vertical-align: top;
	}
    
    li {
        a {
            display: inline-block;
            
            &:hover {
                color: $darkGray;
                text-decoration: underline;
                font-style: italic;
            }
        }
    }
    
    * + .list-wrapper {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .list-wrapper {
        
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        
        li {
            a {
                padding: 5px;
            }
            
            &.good {
                background: rgba(0, 250, 0, 0.2);
                
                &+li {
                    border-top: 1px solid rgba(0, 250, 0, 0.5);
                }
            }
            
            &.bad {
                background: rgba(250, 0, 0, 0.2);
                
                &+li {
                    border-top: 1px solid rgba(250, 0, 0, 0.3);
                }
            }
        }
    }
}